.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  flex: 1;
}

.topCardWrapper {
  height: 60px;
}

.topCard {
  height: 100%;
  padding: 0;
}

.topCard :global(.ant-card-body) {
  height: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
}

.topCardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

.text {
  color: #ccc;
  font-size: 18px;
}

.text._blue {
  color: var(--color-blue);
}
.text._red {
  color: var(--color-red);
}

.timer {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.charactersList {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 1000px;
}

.characterCard {
  transition: var(--basic-transition);
}

.characterCard:hover {
  border: 2px solid #c1c1c1;
  transform: translateY(-5px);
}

.characterCard._selected._blue {
  box-shadow: 0px 0px 10px var(--color-blue);
  border: 2px solid var(--color-blue);
  transform: translateY(-5px);
}

.characterCard._selected._red {
  box-shadow: 0px 0px 10px var(--color-red);
  border: 2px solid var(--color-red);
  transform: translateY(-5px);
}

.characterCard._disabled {
  pointer-events: none;
  opacity: 50%;
}

.currentAction {
  display: flex;
  gap: 8px;
}
