.card {
  width: 300px;
  color: #fff;
  border-radius: 12px;
}

.teamName {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  text-align: center;
}

.picks {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  margin-bottom: 12px;
}

.pickSquare {
  width: 110px;
  height: 110px;
  background-color: #555;
  border-radius: 8px;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}

.bans {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.banSquare {
  width: 55px;
  height: 55px;
  background-color: #555;
  border-radius: 4px;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}

.pickSquare img,
.banSquare img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.pickSquare::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  z-index: 1;
}

.pickSquare .overlayName {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 14px;
  padding: 2px 4px;
  z-index: 2; /* above gradient */
  pointer-events: none;
}

.banSquare::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%; /* taller gradient for small square */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  z-index: 1;
}

.banSquare .overlayName {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 12px;
  padding: 0 2px;
  z-index: 2;
  pointer-events: none;
}

.banSquare._empty {
  border: 1px dashed var(--color-red);
  background-color: rgba(255, 0, 0, 0.1); /* light red background */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-red);
  font-size: 10px;
  font-weight: 500;
  opacity: 0.8;
}

/* .overlayName { */
/*   position: absolute; */
/*   bottom: 0; */
/*   left: 0; */
/*   width: 100%; */
/*   background: rgba(0, 0, 0, 0.6); /* shaded backdrop */
/*   color: #fff; */
/*   font-size: 12px; */
/*   text-align: center; */
/*   padding: 2px 4px; */
/*   box-sizing: border-box; */
/*   border-bottom-left-radius: 8px; */
/*   border-bottom-right-radius: 8px; */
/* } */

.teamName.red {
  color: var(--color-red);
}

.teamName.blue {
  color: var(--color-blue);
}
.placeholder {
  opacity: 0.2;
  border: 1px dashed #ccc;
}
